<div id="sidebar">
  <div id="top_icons" class="icon_container">
    <div class="logo icon"><img src="" alt=""></div>
    <div class="sidebar_divider_line icon"></div>
    <div class="icon"><img src="" alt="" /></div>
    <div class="icon"><img src="" alt="" /></div>
    <div class="icon"><img src="" alt="" /></div>
    <div class="icon"><img src="" alt="" /></div>
  </div>
  <div id="bottom_icons" class="icon_container">
    <div class="icon"><img src="" alt="" /></div>
    <div class="sidebar_divider_line icon"></div>
    <div class="profile_picture icon"><img src="" alt=""></div>
  </div>
</div>
