@import '../../../assets/styles/variables';

#sidebar {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px 0 10px 0;

  height: calc(100vh - 20px);
  width: $sidebar_width;

  background-color: $main-color-100;

  border-right: 1px solid $main-color-300;

  .icon_container {
    width: 100%;

    .icon {
      aspect-ratio: 1/1;
      width: 70%;

      background-color: red;
    }

    .sidebar_divider_line {
      width: 70%;
      height: 1px;
      background-color: black;
      margin: auto;
    }

    .profile_picture {
      border-radius: 100%;
    }

    .logo {
      border-radius: 100%;
    }
  }

  #top_icons {
    .icon {
      margin: 0 auto 1rem auto;
    }
  }

  #bottom_icons {
    .icon {
      margin: 1rem auto 0 auto;
    }
  }
}