@use "../../../theme/variables.scss" as *;


ion-tab-bar{
    border-radius: 80px;
    --ion-background-color:hsl(248, 10%, 95%);
    box-shadow: 0px 10px 10px 0px hsl(244, 10%, 69%);
    // margin-bottom: 10px;
    margin: 0 10px 10px 10px;
}