@use "../../../theme/variables.scss" as *;


ion-tab-bar{
    border-radius: 80px;
    --ion-background-color:hsl(248, 10%, 95%);
    box-shadow: 0px 0px 10px 0px $shadow;
    margin: 0 10px 15px 10px;
}