@import "../src/assets/styles/variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 500;
  box-sizing: border-box;
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

.page_container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
