<div id="task_container" class="{{ habitData.color }}">
  <div id="task_header_container">
    <div id="left">
      <div class="input_container" id="remember_me_checkbox_input_container">
        <input type="checkbox" name="task_checkbox_input" id="{{ habitData.id }}" data-cy="task_checkbox_input" formControlName="taskDone" />
        <label for="{{ habitData.id }}" class="checkbox">
          <div class="checkmark"></div>
        </label>
        <label for="{{ habitData.id }}" class="checkbox_label">{{ habitData.title }}</label>
      </div>
    </div>
    <div id="right">
      <div id="time_container">
        <img src="icons/clock.png" alt="clock" />
        <span>{{ habitData.frequency }}</span>
      </div>
      <div id="options_container">
        <img src="icons/menu-dots-vertical.png" alt="menu-dots-vertical" (click)="expandTask($event)" />
      </div>
    </div>
  </div>
  <div id="task_details_container">
    {{ habitData.description }}
  </div>
</div>
