<ion-content class="ion-padding">
  <div class="container">
    <h1 class="text-center welcomeh1">Welcome to Elevate!</h1>
    <p class="text-center subtitle">Small steps lead to big changes.<br>Let's go!</p>

    <fieldset class="input-container">
      <legend>Enter your first name</legend>
      <input type="text" class="input" name="firstName" placeholder="Jakab">
    </fieldset>

    <fieldset class="input-container">
      <legend>Enter your last name</legend>
      <input type="text" class="input" name="lastname" placeholder="Gipsz">
    </fieldset>

    <fieldset class="input-container">
      <legend>Enter your email</legend>
      <input type="email" class="input" name="email" placeholder="gipzsjakab@kukac.com">
    </fieldset>

    <fieldset class="input-container">
      <legend>Enter your password</legend>
      <input type="password" class="input">
    </fieldset>

    <button class="button" href="/tasks">Create account</button>

    

  </div>
</ion-content>
