<div id="user_page_container" class="page_container">
  <app-navbar></app-navbar>
  <div id="user_details_container">
    <div id="profile_picture_container">
      <div id="banner"></div>
      <div id="profile_picture">
        <img src="images/default_profile_picture.jpg" alt="pfp" />
      </div>
    </div>
    <div id="user_details">
      <div>
        <h3>{{ userData?.firstName }} {{ userData?.lastName }}</h3>
        <p>{{ userData?.email }}</p>
      </div>
      <hr />
      <div>
        <p>Name: {{ userData?.firstName }} {{ userData?.lastName }}</p>
        <p>Email: {{ userData?.email }}</p>
      </div>
      <hr />
      <div class="settings_block">
        <div class="setting_title">
          <p class="p_dark">Interface theme</p>
          <p>Select or customize your UI theme.</p>
        </div>
        <div class="color_theme_picker"></div>
        <div class="color_theme_picker"></div>
        <div class="color_theme_picker"></div>
      </div>
      <div class="button_container">
        <button (click)="logout()" class="button_secondary"><span>Logout</span></button>
      </div>
    </div>
  </div>
</div>
