@use "../../../theme/variables" as *;



.welcomeh1 {
  max-width: 230px;
  min-height: 80px;
  font-size: 32;
  margin: 0 auto 10px auto;
}

.subtitle {
  max-width: 350px;
  min-height: 50px;
  font-size: 20;
  font-style: italic;
  color: $accent-color-400;
  margin: 0 auto;

}

.input-container {
  width: 350px;
  height: 50px;
  margin: auto;
  border: 2px solid $accent-color-400;
  border-radius: 15px;
  margin-bottom: 4vh;

  legend {
    color: $accent-color-400;
  }

  @media (max-width: 370px) {
    width: 300px;
  }
}

.input-container:hover,
.input-container:focus-within {
  border: 2px solid $accent-color-600;
}

.input-container:nth-child(2) {
  //dont work
  margin-bottom: 0;
}

.input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 40px;
  position: relative;
  top: -15px
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#checkbox {
  position: relative;
  margin: auto;
  top: -10px;
  right: 95px;
  width: 130px;
  height: 25px;

  @media (max-width: 370px) {
    right: 50px;
  }

  input {
    border-radius: 5px;
  }

  label {
    color: $text-color-dark;
    margin-left: 5px;
    font-size: 13px;

  }
}

.button {
  width: 250px;
  height: 60px;
  border-radius: 100px;
  background-color: $accent-color-900;
  color: #BDB2FF;
  font-size: 24px;
  display: block;
  margin: 3vh auto;

}

.button:hover {
  background-color: $accent-color-800;
}

.devider {
  width: 350px;
  height: 1px;
  background-color: $text-color-dark;
  margin: 4vh auto;
}

.signup-text {
  font-size: 13px;
  margin-top: 25px;
  color: $text-color-dark;
}






//google button
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 20px;
  height: 55px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 250px;
  max-width: 400px;
  min-width: fit-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}