<ion-menu side="end" contentId="main-content">
  <ion-content class="ion-padding " color="light">
    <div class="profile-pic ">

      <ion-icon name="person-circle-outline" class="icon"></ion-icon>
    </div>
    <h2 class="text-center">Somloi David</h2>

    <ion-button shape="round" fill="clear" class="menu-item">
      <ion-icon name="ribbon-outline"></ion-icon>
      <span>Achievments</span>
    </ion-button>
    <hr class="devider">
    <ion-button shape="round" fill="clear" class="menu-item">
      <ion-icon name="settings"></ion-icon>
      <span>Settings</span>
    </ion-button>
    <ion-button shape="round" (click)="Logout()" fill="clear" class="menu-item">
      <ion-icon name="log-out-outline"></ion-icon>
      <span>Log out</span>
    </ion-button>
  </ion-content>


</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border" collapse="true" translucent="true">
    <ion-toolbar>
      <ion-title>Hello <br>
        Somloi David!</ion-title>
      <ion-buttons slot="end">

        <ion-menu-toggle>
          <ion-button>
            <ion-icon class="icon" name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding white-background" fullscreen="true">
    <h1 class="text-center" style="margin-bottom: 30px;">Tasks</h1>

    <app-task-card></app-task-card>

  </ion-content>
</div>