@use "../../../theme/variables" as *;


ion-content {

  .menu-content {
    --ion-background-color: black !important;
  }
}

.white-background {
  --ion-background-color: $background-color-light;
}

ion-header {
  height: fit-content;

  // border-radius: 80px;
  ion-title {
    color: $text-color-900;
    font-size: 25px;
    padding: 15px;
    letter-spacing: 0.6px;

    @media(prefers-color-scheme: dark) {
      color: $text-color-200;
    }
  }
  --ion-toolbar-background: transparent;


}

ion-toolbar {
  --ion-background-color: transparent;

  @media(prefers-color-scheme: dark) {
    --ion-background-color: transparent !important;
  }
}

.profile-pic {
  margin-top: 40px;
}

h2 {
  color: black;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.menu-item {
  width: fit-content;
  height: 55px;
  display: block;
  margin: auto;
  margin-top: 25px;
  border-radius: 15px;

  ion-icon {
    height: 35px;
    width: 35px;
    align-items: left;
    color: $text-color-dark;
    margin: 0px 5px;
  }

  span {
    font-size: 20px;
    border-radius: 15px;
    text-transform: lowercase;
    color: $text-color-dark;
    text-align: center;
    margin: auto;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.menu-item:nth-child(6) {
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 20px;

  span {
    color: $alert-color-400;
  }

  ion-icon {
    color: $alert-color-400;
  }

}

.devider {
  width: 80%;
  height: 1px;
  background-color: $text-color-dark;
  margin: 2vh auto;
}
.icon{
  height: 45px;
  width: 45px;
  --ion-margin:auto
}