@use "../../../theme/variables" as *;


ion-content {

  .menu-content {
    --ion-background-color: black !important;
  }
}

.white-background{
  --ion-background-color: $background-color-light;
}
ion-header{
  height: 60px;
  ion-title{
    color: $text-color-dark;
    font-size: 20;
    padding: 10px;
    letter-spacing: 0.6px;
  }
}
