<ion-menu contentId="main-content">

  <ion-content style="--ion-background-color:white;" class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Click to close the menu</ion-button>
      <ion-button routerLink="home">
        <ion-icon name="settings"></ion-icon>
        Friends
      </ion-button>
    </ion-menu-toggle>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">

  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Click to open the menu</ion-button>
    </ion-menu-toggle>
    <button class="menu-button">
      <ion-icon name="settings" size="medium"></ion-icon>
      Friends
    </button>
  </ion-content>
</div>