//* Colors

// Accent colors
$accent-color-100: hsl(249, 100%, 85%);
$accent-color-200: hsl(249, 86%, 75%);
$accent-color-300: hsl(249, 55%, 63%);
$accent-color-400: hsl(249, 40%, 50%);
$accent-color-500: hsl(249, 40%, 40%);
$accent-color-600: hsl(248, 40%, 35%);
$accent-color-700: hsl(249, 40%, 30%);
$accent-color-800: hsl(249, 40%, 25%);
$accent-color-900: hsl(249, 45%, 20%);

// Main colors
$main-color-100: hsl(248, 10%, 100%);
$main-color-200: hsl(248, 10%, 90%);
$main-color-300: hsl(248, 10%, 80%);
$main-color-400: hsl(248, 10%, 70%);
$main-color-500: hsl(248, 10%, 60%);
$main-color-600: hsl(248, 10%, 50%);
$main-color-700: hsl(248, 10%, 40%);
$main-color-800: hsl(248, 10%, 30%);
$main-color-900: hsl(248, 10%, 20%);

// * Dimensions
$sidebar_width: 5rem;