@import "../styles/variables";

// All button container
.button_container {
  display: flex;
  justify-content: center;

  // General Button
  button {
    cursor: pointer;
  }

  // Primary Button
  .button_primary {
    height: 3rem;

    color: $accent-color-100;
    background-color: $accent-color-800;

    border-radius: 100rem;
    border: none;

    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: $accent-color-700;
    }

    &:disabled {
      background-color: $text-color-700;
      color: $text-color-300;
      cursor: not-allowed;
    }

    span {
      padding: 0rem 3rem;
      font-size: $font-size-md;
      font-weight: 500;
    }
  }

  // Secondary Button
  .button_secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3rem;

    color: $text-color-700;
    background-color: $main-color-200;

    border-radius: 100rem;
    border: 2px solid $main-color-300;

    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: $main-color-100;
    }

    // Text and Icon container
    span {
      display: flex;
      align-items: center;
      gap: 1rem;

      padding: 0rem 3rem;

      // Icon
      img {
        height: 2rem;
      }

      // Text
      p {
        display: inline-block;
        font-size: $font-size-md;
        color: $text-color-700;
        font-weight: 500;
      }
    }
  }

  // Tertiary Button
  .button_tertiary {
    color: $accent-color-500;
    background-color: transparent;

    text-decoration: underline;

    border: none;
  }

  // Quaternary Button
  .button_quaternary {
    color: $text-color-700;
    background-color: transparent;

    text-decoration: underline;

    border: none;
  }

  // Special button for new habit
  .button_special {
    height: 4rem;
    width: 4rem;

    border: none;
    border-radius: 100%;
  }

  // Delete buttons
  .button_delete {
    color: $alert-color-600;
    background-color: transparent;

    text-decoration: underline;

    border: none;

    &:hover {
      color: $alert-color-400;
    }
  }

  .button_primary_delete {
    height: 3rem;

    color: $alert-color-100;
    background-color: $alert-color-700;

    border-radius: 100rem;
    border: none;

    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: $alert-color-600;
    }

    &:disabled {
      background-color: $text-color-600;
      color: $text-color-300;
      cursor: not-allowed;
    }

    span {
      padding: 0rem 3rem;
      font-size: $font-size-md;
      font-weight: 500;
    }
  }
}
