@import "../styles/variables";

// Input container
.input_container {
  position: relative;
  margin-top: 1rem;

  display: flex;
  align-items: center;

  // General input
  input {
    color: $text-color-900;
    font-size: $font-size-base;
    font-weight: 500;
  }

  // Input title
  .input_title {
    position: absolute;
    left: 1rem;
    top: 30%;

    padding: 0 0.5rem;

    background-color: $main-color-100;
    color: $text-color-800;

    pointer-events: none;

    transition: all 100ms ease-in-out;
  }

  // TODO style chrome autofill
  // Text input
  input[type="text"] {
    height: 2rem;
    width: 100%;
    padding: 1.5rem 1rem;

    border: 1px solid $main-color-600;
    border-radius: $border_radius;

    // In focus
    &:focus {
      border: 2px solid $accent-color-400;
      outline: none;
    }

    // Animate title on focus
    &:focus + .input_title,
    &:not(:placeholder-shown) + .input_title {
      top: -15%;
      color: $accent-color-400;
      font-size: smaller;
      font-weight: 500;
    }

    // Remove accent color if filled but not in focus
    &:not(:focus):not(:placeholder-shown) + .input_title {
      color: $text-color-800;
    }
  }

  // TODO style chrome autofill
  // Email input
  input[type="email"] {
    height: 2rem;
    width: 100%;
    padding: 1.5rem 1rem;

    border: 1px solid $main-color-600;
    border-radius: $border_radius;

    // In focus
    &:focus {
      border: 2px solid $accent-color-400;
      outline: none;
    }

    // Animate title on focus
    &:focus + .input_title,
    &:not(:placeholder-shown) + .input_title {
      top: -15%;
      color: $accent-color-400;
      font-size: smaller;
      font-weight: 500;
    }

    // Remove accent color if filled but not in focus
    &:not(:focus):not(:placeholder-shown) + .input_title {
      color: $text-color-800;
    }
  }

    // TODO style chrome autofill
  // Password input
  input[type="password"] {
    height: 2rem;
    width: 100%;
    padding: 1.5rem 1rem;

    border: 1px solid $main-color-600;
    border-radius: $border_radius;

    // In focus
    &:focus {
      border: 2px solid $accent-color-400;
      outline: none;
    }

    // Animate title on focus
    &:focus + .input_title,
    &:not(:placeholder-shown) + .input_title {
      top: -15%;
      color: $accent-color-400;
      font-size: smaller;
      font-weight: 500;
    }

    // Remove accent color if filled but not in focus
    &:not(:focus):not(:placeholder-shown) + .input_title {
      color: $text-color-800;
    }
  }

  // Checkbox input
  input[type="checkbox"] {
    display: none;
    cursor: pointer;

    &:checked + .checkbox {
      border: 2px solid $accent-color-400;
    }

    &:checked + .checkbox > .checkmark {
      opacity: 1;
    }
  }

  .checkbox {
    display: inline-block;

    aspect-ratio: 1/1;
    width: 20px;

    cursor: pointer;

    border: 1px solid $main-color-600;
    border-radius: 5px;

    .checkmark {
      border-left: 2px solid $accent-color-600;
      border-bottom: 2px solid $accent-color-600;

      width: 11px;
      height: 6px;

      transform: translateX(2px) translateY(3.5px) rotateZ(318deg);

      opacity: 0;
    }
  }

  .checkbox_label {
    color: $text-color-800;
    padding-left: 0.5rem;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
}
