<app-header title="Calendar Page" [showGreeting]="false"></app-header>

<ion-content [fullscreen]="true" class="ion-padding"  >
    <div class="date-picker" #swipeArea>
      <ion-button fill="clear" (click)="previousDay()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <div class="date-text">
        <ion-text color="medium">{{ weekday }}</ion-text>
        <ion-text color="dark"><strong>{{ dayAndMonth }}</strong></ion-text>
      </div>

      <ion-button fill="clear" (click)="nextDay()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <app-task-card  [habitlogsDate]="datestring"
      (hasMoreHabitsChange)="hasMoreHabits = $event"></app-task-card>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="newHabit()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>