<ion-app>
  <ion-menu side="end" contentId="main-content" fullscreen="true">
    <ion-content class="ion-padding" color="light" [fullscreen]="true">
      <div class="profile-pic">
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
      </div>
      <h2 class="text-center">{{userName}}</h2>

      <ion-button shape="round" fill="clear" class="menu-item">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>Achievements</span>
      </ion-button>
      <hr class="divider">
      <ion-button shape="round" fill="clear" class="menu-item">
        <ion-icon name="settings"></ion-icon>
        <span>Settings</span>
      </ion-button>
      <ion-button shape="round" (click)="Logout()" fill="clear" class="menu-item">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Log out</span>
      </ion-button>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>