<app-header title="Friends">

</app-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="align-center chips-row">
      <ion-col size="auto">
        <ion-chip (click)="setChallengeModalOpen(true)">
          <ion-icon name="trophy"></ion-icon>
          <ion-label>Challenge Requests</ion-label>
          @if(challengeRequests.length > 0) {
          <ion-badge color="danger">
            {{ challengeRequests.length }}
          </ion-badge>
          }
        </ion-chip>
      </ion-col>
      <ion-col size="auto">
        <ion-chip (click)="setOpen(true)">
          <ion-icon name="people"></ion-icon>
          <ion-label>Friend Requests</ion-label>
          @if(friendRequests.length > 0) {
          <ion-badge color="danger">
            {{ friendRequests.length }}
          </ion-badge>
          }
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- Friends     -----------------------------      -->

  <ion-label class="ion-padding">
    @if(friends.length > 0) {
    <h1>Friends</h1>
    <p>See your friends and their habits.</p>
    }
    @else {
    <h1>Find Friends</h1>
    <p>Search for users to add as friends.</p>
    }
  </ion-label>
  @if(friends.length > 0){
  <ion-list>
    @for (friend of friends; track $index) {
    <app-friend [friend]="friend" (deleteFriend)="DeleteFriend($event)"
      (profileClick)="goToProfile($event)"></app-friend>
    }
  </ion-list>

  }
  @else {
  <ion-card color="tertiary" class="no-friends-card">
    <ion-card-header>
      <ion-card-title color="dark">No Friends Yet</ion-card-title>
      <ion-card-subtitle color="dark">Start adding friends to see their habits!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-icon name="happy-outline" size="large" color=""></ion-icon>
    </ion-card-content>
  </ion-card>
  }

  <!-- Challenges -->

  <ion-modal [isOpen]="isChallengeModalOpen" class="challenge-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Challenge Requests</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setChallengeModalOpen(false)">
              Close
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-card class="modal-card">
          <ion-card-header>
            <ion-card-title>Pending Challenge Requests</ion-card-title>
            <ion-card-subtitle>Accept or reject challenges from your friends.</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            @if(challengeRequests.length > 0) {
            <ion-list>
              @for (challenge of challengeRequests; track $index) {
              <app-challenge-request (acceptChallenge)="acceptChallengeRequest(challenge)"
                (rejectChallenge)="rejectChallengeRequest(challenge)" 
                (profileClick)="goToProfile(challenge.userId)" [challenge]="challenge"></app-challenge-request>

              }
            </ion-list>
            }
            @else {
            <ion-card color="tertiary" class="no-challenges-card">
              <ion-card-header>
                <ion-card-title color="dark">No Challenge Requests</ion-card-title>
                <ion-card-subtitle color="dark">Check back later!</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-icon name="trophy-outline" size="large" color=""></ion-icon>
              </ion-card-content>
            </ion-card>
            }
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="isModalOpen" class="friend-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Friend Requests</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">
              Close
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-card class="modal-card">
          <ion-card-header>
            <ion-card-title>Pending Friend Requests</ion-card-title>
            <ion-card-subtitle>Accept or reject requests from other users.</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            @if(friendRequests.length > 0) {
            <ion-list>
              @for (friend of friendRequests; track $index) {
              <ion-item class="friend-item" color="light">
                <ion-avatar slot="start">
                  <img (click)="setOpen(false)" (click)="goToProfile(friend.id)"
                    [src]="friend.profilePictureBase64 ? 'data:image/jpeg;base64,' + friend.profilePictureBase64 : 'assets/default_profile_picture.jpg'"
                    alt="Profile Picture" />
                </ion-avatar>
                <ion-label>
                  <h2>{{ friend.firstName }} {{ friend.lastName }}</h2>
                  <p>{{ friend.email }}</p>
                </ion-label>
                <div class="friend-buttons">
                  <ion-button fill="solid" color="success" (click)="acceptFriendRequest(friend)">
                    <ion-icon name="checkmark"></ion-icon>
                  </ion-button>
                  <ion-button fill="outline" color="danger" (click)="rejectFriendRequest(friend)">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>
                </div>
              </ion-item>
              }
            </ion-list>
            }
            @else {
            <ion-card color="tertiary" class="no-friends-card">
              <ion-card-header>
                <ion-card-title color="dark">No Friend Requests</ion-card-title>
                <ion-card-subtitle color="dark">Check back later!</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-icon name="happy-outline" size="large" color=""></ion-icon>
              </ion-card-content>
            </ion-card>
            }
          </ion-card-content>
        </ion-card>


      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modal class="ion-padding" trigger="open-modal" [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-searchbar (ionInput)="userSearch($event)" placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"
          color="light"></ion-searchbar>
        @if(searchedUsers.length === 0) {
        <ion-card color="tertiary" class="no-friends-card">
          <ion-card-header>
            <ion-card-title class="text-center" color="dark">No Users Found</ion-card-title>
            <ion-card-subtitle class="text-center" color="dark">Try to search on another email!</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        }
        @else {
        <ion-list>
          @for(user of searchedUsers; track $index) {
          <ion-item>
            <ion-avatar slot="start">
              <img (click)="goToProfile(user.id)"
                (click)="modal.setCurrentBreakpoint(0)"
                [src]="user.profilePictureBase64 ? 'data:image/jpeg;base64,' + user.profilePictureBase64 : 'assets/default_profile_picture.jpg'"
                alt="Profile Picture" />
            </ion-avatar>
            <ion-label>
              <h2>{{user.firstName}} {{user.lastName}}</h2>
              <p>{{user.email}}</p>
            </ion-label>
            <ion-button fill="solid" slot="end" (click)="addFriend(user)">Add</ion-button>
          </ion-item>
          }
        </ion-list>

        }

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>