@use "../../theme/variables" as *;

.welcomeh1 {
    max-width: 230px;
    min-height: 80px;
    font-size: 32;
    margin: 0 auto 10px auto;
}

.subtitle {
    max-width: 350px;
    min-height: 50px;
    font-size: 20;
    font-style: italic;
    color: $accent-color-400;
    margin: 0 auto;

}

.input-container {
    width: 350px;
    height: 50px;
    margin: auto;
    border: 2px solid $accent-color-400;
    border-radius: 15px;
    margin-bottom: 4vh;

    legend {
        color: $accent-color-400;
    }
}

.input-container:hover, .input-container:focus-within {
    border: 2px solid $accent-color-600;
}

.input-container:nth-child(2) {
    //dont work
    margin-bottom: 0;
}

.input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 40px;
    position: relative;
    top: -15px
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

#checkbox {
    position: relative;
    margin: auto;
    right: 95px;
    width: 130px;
    height: 25px;

    input {
        border-radius: 5px;
    }

    label {
        color: $text-color-dark;
        margin-left: 5px;
        font-size: 13px;

    }
}

.button {
    width: 250px;
    height: 60px;
    border-radius: 100px;
    background-color: $accent-color-900;
    color: #BDB2FF;
    font-size: 24px;
    display: block;
    margin: 3vh auto;
}

.button:hover {
    background-color: $accent-color-800;
}

.devider {
    width: 350px;
    height: 1px;
    background-color: $text-color-dark;
    margin: 4vh auto;
}