<ion-content class="ion-padding">
  <div class="container">
    <h1 class="text-center welcomeh1">Welcome to Elevate!</h1>
    <p class="text-center subtitle">Small steps lead to big changes.<br>Let's go!</p>

    <fieldset class="input-container">
      <legend>Enter your email</legend>
      <input type="text" class="input" placeholder="gipzsjakab@kukac.com">
    </fieldset>

    <fieldset class="input-container">
      <legend>Enter your password</legend>
      <input type="text" class="input">
    </fieldset>

    <div id="checkbox">
      <input type="checkbox" name="RememberMe" id="RememberMe">
      <label for="RememberMe">Remember me</label>
    </div>

    <button class="button">Sign in</button>

    <hr class="devider">


    <!-- <p class="signup-text">Don't have an account? <a href="#">Create one here!</a></p> -->
  </div>
</ion-content>