<div id="login_page_container">
  <div id="login_container">
    <!-- Title and subtitle  -->
    <div id="title_container">
      <h1 class="header_highlight">Welcome back!</h1>
      <p>Small steps lead to big changes. Let’s go!</p>
      <br /><br />
    </div>
    <!-- Form container -->
    <div id="form_container">
      <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email Input (email) -->
        <div class="input_container" id="email_email_input_container" data-cy="email_text_input_container">
          <input type="email" name="email_text_input" id="email_text_input" placeholder=" " formControlName="email" required data-cy="email_text_input"/>
          <label for="email_text_input" class="input_title">Enter your email</label>
          <app-validation-message></app-validation-message>
        </div>

        <!-- Password Input (text) -->
        <div class="input_container" id="password_text_input_container" data-cy="password_text_input_container">
          <input type="password" name="password_text_input" id="password_text_input" placeholder=" " formControlName="password" required data-cy="password_text_input"/>
          <label for="password_text_input" class="input_title">Enter your password</label>
          <img src="icons/eye.png" alt="Show Password" title="Show Password" id="toggle_password_icon" (click)="onTogglePassword($event)" />
          <app-validation-message></app-validation-message>
        </div>

        <div class="line_container">
          <!-- Remember me Input (checkbox) -->
          <div class="input_container" id="remember_me_checkbox_input_container">
            <input type="checkbox" name="remember_me_checkbox_input" id="remember_me_checkbox_input" formControlName="rememberMe" />
            <label for="remember_me_checkbox_input" class="checkbox">
              <div class="checkmark"></div>
            </label>
            <label for="remember_me_checkbox_input" class="checkbox_label">Remember me</label>
          </div>

          <!-- Forgot password? button (quaternary) -->
          <div class="button_container">
            <button class="button button_quaternary" type="button" [routerLink]="'/password-recovery'" id="forgot_password_button">
              Forgot password?
            </button>
          </div>
        </div>

        <!-- Login button (primary) -->
        <div class="button_container" id="login_button_container">
          <button class="button_primary" type="submit" id="login_button" data-cy="login_button">
            <span>Login</span>
          </button>
        </div>
      </form>
    </div>

    <!-- Divider line between login options -->
    <div id="button_divider">
      <div class="divider_line"></div>
      <span>Or</span>
    </div>

    <!-- Sign in with Google button (secondary) -->
    <div class="button_container" id="google_sign_in_button_container">
      <button class="button button_secondary" type="button" id="google_sign_in_button" [routerLink]="'/??'">
        <span>
          <img src="icons/google.png" alt="google_logo" />
          <p>Sign in with Google</p>
        </span>
      </button>
    </div>

    <!-- Create account field -->
    <div id="create_account_container">
      <p>Don't have an account?</p>
      <div class="button_container">
        <button class="button button_tertiary" type="button" id="redirect_to_create_account_button" [routerLink]="'/create-account'">
          Create one here!
        </button>
      </div>
    </div>
  </div>

  <!-- <app-login-feature-list></app-login-feature-list> -->

  <div id="blured_circle_container">
    <div id="blured_circle"></div>
  </div>
</div>
