@import "../../../../assets/styles/variables";
#login_page_container {
  display: flex;
  flex-direction: row;

  height: 100vh;
  width: 100vw;

  #login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    height: 100%;
    width: 50rem;

    z-index: 2;

    #title_container {
      width: 50%;

      p {
        color: $accent-color-400;
        font-style: italic;
      }
    }

    #form_container {
      width: 100%;

      display: flex;
      justify-content: center;

      form {
        width: 50%;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        #password_text_input_container {
          img {
            position: absolute;

            right: 15px;
            height: 18px;

            cursor: pointer;
          }
        }

        .line_container {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    #button_divider {
      width: inherit;

      display: flex;
      justify-content: center;
      align-items: center;

      span {
        position: absolute;
        padding: 0rem 1rem;

        color: $text-color-400;
        background-color: $main-color-100;

        font-size: $font-size-sm;
      }

      div {
        width: 50%;
        height: 1px;
        background-color: $text-color-300;
      }
    }

    #create_account_container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;

      p {
        color: $text-color-800;
      }
    }
  }

  #blured_circle_container {
    position: absolute;
    overflow: hidden;
    width: 50rem;
    aspect-ratio: 1/1;

    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    #blured_circle {
      aspect-ratio: 1/1;
      width: 100%;

      transform: translateX(-50%) translateY(50%);

      background: radial-gradient($accent-color-100, $main-color-100 70%);

      filter: blur(10px);
    }
  }

  app-login-feature-list {
    flex-grow: 1;
  }
}

@media (max-width: 1400px) {
  #login_page_container {
    justify-content: center;

    app-login-feature-list {
      display: none;
    }
  }
}
