<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/footertabs/feed"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Habit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>New Habit</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-input label="Habit title" [(ngModel)]="habit.title" label-placement="floating" fill="outline"
        placeholder="Enter text"></ion-input>

      <ion-textarea label="Habit description" [(ngModel)]="habit.description" label-placement="floating" fill="outline"
        placeholder="Enter text" autoGrow="true"></ion-textarea>

      <!-- <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="habit.description"></ion-textarea>
      </ion-item> -->
      <ion-list>
        <ion-item>
          <ion-label>Frequency</ion-label>
          <ion-select placeholder="Select frequency" interface="popover" [(ngModel)]="habit.frequencyType">
            <ion-select-option value="daily">Daily</ion-select-option>
            <ion-select-option value="weekly">Weekly</ion-select-option>
            <ion-select-option value="monthly">Monthly</ion-select-option>
            <ion-select-option value="custom">Custom</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      @if(habit.frequencyType.toString() == "custom"){
      <ion-grid>
        <ion-row class="day-selector">
          @for(day of weekDays ; track $index) {
          <ion-col>
            <ion-button [ngClass]="{'selected': isSelectedDay(habit.customFrequency, $index)}"
              (click)="toggleDay(habit, $index)" fill="clear">
              {{ day.label }}
            </ion-button>
          </ion-col>
          }
        </ion-row>
      </ion-grid>
      }
      

      <ion-item>
        <ion-label>Color</ion-label>
        <ion-input type="color" [(ngModel)]="habit.color"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Is it a Positive Habit?</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="habit.is_positive"></ion-checkbox>
      </ion-item>

      <ion-button expand="full" (click)="createHabit()">Create</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>