<app-header title="Negative Habits">

</app-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab data-cy="fabButton" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="newNegativeHabit()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h1 class="styled-heading">Control all your negative habits here</h1>

  @if(noData){
    <ion-card color="tertiary" class="no-friends-card">
      <ion-card-header>
        <ion-card-title color="dark">No Habits Yet</ion-card-title>
        <ion-card-subtitle color="dark">Start adding negative habits!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-icon name="happy-outline" size="large" color=""></ion-icon>
      </ion-card-content>
    </ion-card>
  }
  <ion-list>
    @for (habit of negativeHabits; track $index) {
    <app-negative-habit-card [habit]="habit" (deleteHabitEvent)="deleteHabit($event)"
      (resetHabitEvent)="resetHabit($event)"></app-negative-habit-card>
    }
  </ion-list>

  <ion-infinite-scroll [disabled]="noMoreData" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>