<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ habit?.title }}</ion-title>
     <ion-buttons slot="start">

       <ion-back-button></ion-back-button>
     </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon class="icon profile-pic" name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ habit?.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="habit-details">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ habit?.title }}</ion-card-title>
        <ion-card-subtitle>{{ habit?.description }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Frequency:</strong> {{ habit?.frequency }}</p>
        <p><strong>Custom Frequency:</strong> {{ habit?.custom_frequency }}</p>
        <p><strong>Color:</strong> <span [style.color]="habit?.color">{{ habit?.color }}</span></p>
        <p><strong>Is Positive:</strong> {{ habit?.is_positive ? 'Yes' : 'No' }}</p>
        <p><strong>Streak:</strong> {{ habit?.streak }}</p>
        <p><strong>Streak Start:</strong> {{ habit?.streak_start | date }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>