.habit-details {
    ion-card {
        margin: 20px;
    }

    ion-card-title {
        font-size: 1.5em;
    }

    ion-card-subtitle {
        font-size: 1.2em;
        color: var(--ion-color-medium);
    }

    ion-card-content p {
        margin: 10px 0;
    }
}