@import "../../../../assets/styles/variables";

#task_container {
  display: flex;
  flex-direction: column;

  position: relative;

  border-radius: 1rem;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);

  overflow: hidden;

  #task_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    z-index: 2;

    background-color: $main-color-100;
  }
}