@import '../../../assets/styles/variables';

#dashboard_page_container {
  #dashboard_container {
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    background-color: $main-color-200;

    header {
      height: 6rem;
      flex-grow: 0;
      background-color: $main-color-100;
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      color: $text-color-700;
      font-size: $font-size-xl;
    }

    #dashboard {
      flex: 1;
      display: flex;
      justify-content: center;

      padding: 2rem;

      app-task-view {
        flex-grow: 1;
      }

      app-negative-habits {
        flex-grow: 1;
      }
    }
  }
}
