<nav>
  <div id="section_top" class="section"></div>
  <div id="section_center" class="section">
    <a [routerLink]="'/dashboard'"><img src="icons/home.png" alt="" /></a>
    <a [routerLink]="'/friends'"><img src="icons/friends.png" alt="" /></a>
    <a [routerLink]="'/habits'"><img src="icons/book.png" alt="" /></a>
    <a [routerLink]="'/feed'"><img src="icons/list.png" alt="" /></a>
  </div>
  <div id="section_bottom" class="section">
    <a [routerLink]="['/user', id]"><img src="/images/default_profile_picture.jpg" alt=""></a>
  </div>
</nav>
