<div id="task_view_container">
  <!-- Tasks -->
  <div id="task_container">
    @if (habitList.length == 0) {
    <h3>No tasks yet.</h3>
    <p>Make one by clicking the 'Add' button.</p>
    } @else { @for (habit of habitList; track $index) {
    <app-task [habitData]="habit" (dataEmitter)="deleteHabit($event)"></app-task>} }
  </div>

  <!-- Add new task button -->
  <div class="button_container" id="add_new_task_button" (click)="toggleFormVisibility()">
    <button class="button_special">
      <div class="icon_container">
        <div id="plus_left" class="plus_icon"></div>
        <div id="plus_right" class="plus_icon"></div>
      </div>
    </button>
  </div>

  <!-- Add new task form -->
  @if (isVisible) {
  <form [formGroup]="addNewTaskForm">
    <div class="input_container" id="title_text_input_container" data-cy="title_text_input_container">
      <input type="text" name="title_text_input" id="title_text_input" placeholder=" " [formControlName]="'title'" />
      <label for="title" class="input_title">Add a title</label>
    </div>

    <div class="input_container" id="description_text_input_container" data-cy="description_text_input_container">
      <input type="text" name="description_text_input" id="description_text_input" placeholder=" " [formControlName]="'description'" />
      <label for="title" class="input_title">Add a description</label>
    </div>

    <div class="input_container" id="color_radio_input_container" data-cy="color_radio_input_container">
      <input type="radio" id="red_color_radio_input" [formControlName]="'color'" value="red" />
      <label for="red_color_radio_input" class="radio_label"></label>

      <input type="radio" id="blue_color_radio_input" [formControlName]="'color'" value="blue" />
      <label for="blue_color_radio_input" class="radio_label"></label>

      <input type="radio" id="green_color_radio_input" [formControlName]="'color'" value="green" />
      <label for="green_color_radio_input" class="radio_label"></label>
    </div>

    <div class="button_container" (click)="addNewTask()">
      <button class="button_secondary"><span>Add new task!</span></button>
    </div>
  </form>
  }
</div>
