<!-- <div id="task_container" class="{{ post.habit.color }}">
  <div id="task_header">
    <div id="task_user">
      <img
        [src]="post.user.profilePictureBase64 ? 'data:image/jpeg;base64,' + post.user.profilePictureBase64 : '/images/default_profile_picture.jpg'"
        alt="Profile picture">
      <h3>{{ post.user.firstName }} {{ post.user.lastName }}</h3>
    </div>
    <div id="task_title">
      <h3>{{ post.habit.title }}</h3>
    </div>
  </div>
  <div id="task_body">
    <p>{{ post.habitLog.notes}}</p>
    <p>{{ post.habitLog.completedAt | date:'MMM d, y • h:mm a' }}</p>
  </div>
</div> -->
<ion-card (click)="goToProfile(post.user.id)" [style.border-left]="'6px solid #' + post.habit?.color">
  <ion-item>
    <ion-avatar slot="start">
      <img
        [src]="post.user.profilePictureBase64 ? 'data:image/jpeg;base64,' + post.user.profilePictureBase64 : 'assets/default_profile_picture.jpg'"
        alt="Profile Picture" />
    </ion-avatar>
    <ion-label>
      <h2>{{ post.user.firstName }} {{ post.user.lastName }}</h2>
      <p>Habit: {{ post.habit.title || 'No title' }} </p>
      <div class="time">
        <ion-label>{{post.habit.streak}}</ion-label>
        <ion-icon name="flame-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-item>

  <ion-card-content>
    <p><strong>Notes:</strong> {{ post.habitLog.notes || 'No notes available' }}</p>
    <p><strong>Completed At:</strong> {{ post.habitLog.completedAt | date: 'MMM d, y • HH:mm' : 'UTC' }}</p>
  </ion-card-content>
</ion-card>