@use "../../../theme/variables.scss" as *;

ion-accordion {
    box-shadow: none;
    --ion-safe-area-left: 0;

}

.accordion-collapsed,
.accordion-collapsing {
    ion-item {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

.accordion-expanded,
.accordion-expanding {
    ion-item {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.habit-item {
    // display: flex;
    align-items: center;
}



ion-item {
    padding: 0 0;
    background-color: $main-color-200;
    width: 100%;
    margin-top: 10px;
    // margin: 25px auto ;
    // border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center; // Vertically center the children
    border: solid 1px $main-color-300;


    @media(prefers-color-scheme: dark) {
        background-color: $main-color-600;
        border: solid 1px $main-color-700;
    }

    ion-checkbox {
        margin-left: 10px;
        --ion-background-color: $main-color-400;
    }

    .color {
        width: 13px;
        height: 100%;
        margin-right: 10px;
    }

    // ion-checkbox {
    //     width: 50px;
    //     height: 50px;
    // }

    ion-button {
        width: 30px;
        height: 30px;
        --background: white
    }

    ion-label {
        font-size: $font-size-sm;
        color: $text-color-900;

        @media(prefers-color-scheme: dark) {
            color: $text-color-200;
        }

    }

    .time {
        background-color: $main-color-800;
        border-radius: 10px;
        margin-left: auto; // Pushes the .time div to the right
        margin-right: 10px;
        padding: 5px 10px;
        display: flex; // Add Flexbox
        align-items: center; // Center vertically
        justify-content: center;
        color: $text-color-100;

        @media(prefers-color-scheme: dark) {
            background-color: $main-color-800;
        }

        ion-label {
            font-size: $font-size-xs;
            margin-right: 3px;
            color: $text-color-100;

            @media(prefers-color-scheme: dark) {
                color: $text-color-200;
            }
        }
    }
}

.content {
    background-color: $main-color-200;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid 1px $main-color-300;
    border-top: none;
    padding: 0;
    // border-bottom: solid 1px $main-color-300;
    // border-right: solid 1px $main-color-300;
    // border-left: solid 1px $main-color-300;

    @media(prefers-color-scheme: dark) {
        background-color: $main-color-900;
        border: solid 1px $main-color-700;
        border-top: none;
    }

    .day-selector {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ion-grid {

        ion-button {
            width: 20px;
            height: 20px;
            font-size: $font-size-md;
            text-transform: none;
            --background: transparent;
            --color: #ccc;
            --border-radius: 15px;
        }

        ion-button.selected {
            // --background: $accent-color-400;
            --background: hsl(249, 40%, 50%);
            --color: white;
        }
    }

    ion-textarea {
        padding: 0px 10px;
    }
    .delete{
        margin: 5px 10px;
        width: fit-content;
    }
}